---
import Certificate from '../components/Certificate.astro';
import Layout from '../layouts/Layout.astro';

const cert = {
title: "SUSMAT Git Workshop",
date_of_event: new Date("2026-06-02"),
}

const participants = ["Pekka Pätkä", "Liisa Luonto", "Juuso Jäärä"];
---

<Layout>
  <div class="mt-40">
    <Certificate {...cert}>
      {participants.map((participant) => <div>{participant}</div>)}
    </Certificate>
  </div>
</Layout>
